h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}
.background-color {
  background-color: #800080;
}
.color-white {
  color: white;
}
header {
  background-color: #800080;
  padding: 1rem 0;
}
.nav-toggle{
  color:white;
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  padding: 0;
}
.nav-item {
  padding: 0;
}
a {
  text-decoration: none;
}
.nav-item a {
  color: #ffffff;
}
.nav-item button {
  border-color: white;
  color: white;
  background-color: inherit;
  margin-left: 0.5rem;
}
header nav ul li {
  list-style-type: none;
}
.logo i {
  margin-left: 1rem;
}
.logo__heading {
  font-size: 2rem;
  margin-bottom: 0;
  color: #ffffff;
}

main .container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.content__heading {
  font-size: 2.5rem;
  font-weight: bold;
}
.content__para {
  text-align: left;
  font-size: 1rem;
  margin: 1rem 0;
}
.content__button .btn {
  color: #ffffff;
  border: solid;
}
.content__button .learnbtn {
  margin-left: 1rem;
}
main .image {
  width: 300px;
  height: 300px;
}
main .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
section .about__heading {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}
section .about__welcome {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
section .about__desc {
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: left;
}
section .about__image {
  width: 300px;
  height: 200px;
}
section .about__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
